{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": 1,
    "no-unused-vars": ["error", { "varsIgnorePattern": "^__" }]
  }
}
